@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    We provide a variety of IT training courses for those with little or no IT background.
    You can search for a course based on course name, trainer or locations.
    You can book a course that is interested in, or cancel the booking if changed your mind.
</p>
