@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Monash University<br />
    Wellington Rd, <br />
    Clayton VIC 3800, <br />
    Australia <br />
    <abbr title="Phone">P:</abbr>
    +60195577747
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zising0127@gmail.com">zising0127@gmail.com</a><br />
</address>