@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Training Tomorrow’s Tech</h1>
    <p class="lead">Training Tomorrow’s Tech provides a variety of IT training courses for those with little or no IT background.</p>
    <p>@Html.ActionLink("Learn More >> ", "About", "Home")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Search for a course based on course name, trainer or locations.
        </p>
        <p>@Html.ActionLink("Click me >> ", "Index", "Cours")</p>
    </div>
    <div class="col-md-4">
        <h2>Booking</h2>
        <p>Book a course NOW!</p>
        <p>@Html.ActionLink("Click me >> ", "Index", "Bookings")</p>
    </div>
    <div class="col-md-4">
        <h2>Q&A</h2>
        <p>Ask us about anything!</p>
        <p>@Html.ActionLink("Click me >> ", "Send_Email", "Home")</p>
    </div>
</div>